<mat-card class="container">
  <mat-card-title>
    <mat-icon class="vertical-center">event</mat-icon>
    <span>&nbsp;</span>
    <span class="vertical-center">Zoznam podujatí</span>
  </mat-card-title>

  <mat-action-list role="list">
    <div *ngIf="pastEvents$ | async as pastEvents" class="list-group">
      <h3 mat-subheader>Predošlé</h3>
      <mat-list-item role="listitem" *ngFor="let event of pastEvents">
        <app-event-list-item
          [event]="event"
          (duplicate)="onDuplicate($event)"
          (remove)="onRemove($event)"
        ></app-event-list-item>
      </mat-list-item>
    </div>

    <div *ngIf="currentEvents$ | async as currentEvents" class="list-group">
      <mat-divider></mat-divider>

      <h3 mat-subheader>Práve prebiehajúce</h3>
      <mat-list-item role="listitem" *ngFor="let event of currentEvents">
        <app-event-list-item
          [event]="event"
          (duplicate)="onDuplicate($event)"
          (remove)="onRemove($event)"
        ></app-event-list-item>
      </mat-list-item>
    </div>

    <div *ngIf="futureEvents$ | async as futureEvents" class="list-group">
      <mat-divider></mat-divider>

      <h3 mat-subheader>Budúce</h3>
      <mat-list-item role="listitem" *ngFor="let event of futureEvents">
        <app-event-list-item
          [event]="event"
          (duplicate)="onDuplicate($event)"
          (remove)="onRemove($event)"
        ></app-event-list-item>
      </mat-list-item>
    </div>
  </mat-action-list>
</mat-card>
