<div class="stretch-width" (click)="openDetailDialog()">
  <div>
    {{ event.name }} <span class="greyed-out">@ {{ event.location }}</span>
  </div>
  <span class="mat-caption greyed-out">
    <mat-icon class="mat-icon-small vertical-center">person</mat-icon>
    <span class="vertical-center">{{ event.author }}</span>
    <span class="inline-spacer"></span>
    <mat-icon class="mat-icon-small vertical-center">event</mat-icon>
    <span class="vertical-center">
      Od {{ event.timeStart | date: 'H:mm, d.M. y' }} do {{ event.timeEnd | date: 'H:mm, d.M. y' }}
    </span>
  </span>
</div>

<div class="event-list-item-buttons flex">
  <button mat-icon-button matTooltip="Vytvoriť kópiu" (click)="onDuplicate()">
    <mat-icon>file_copy</mat-icon>
  </button>
  <button mat-icon-button color="warn" matTooltip="Vymazať" (click)="onRemove()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
