<mat-toolbar color="primary">
  <span>Smildo - Správa podujatí</span>
  <span class="spacer"></span>
  <span class="mat-small">Prihlásený ako {{ currentUser }} </span>
</mat-toolbar>

<div class="main-content">
  <app-event-filter class="spaced-row"></app-event-filter>
  <app-event-list class="spaced-row"></app-event-list>
  <div class="spaced-row container align-right">
    <button mat-flat-button color="primary" (click)="openAddEventDialog()">
      <mat-icon>add</mat-icon>
      <span>Pridať podujatie</span>
    </button>
  </div>
</div>
