<mat-card class="container">
  <mat-card-title>
    <mat-icon class="vertical-center">add</mat-icon>
    <span class="vertical-center">Nové podujatie</span>
  </mat-card-title>

  <mat-card-content>
    <mat-form-field>
      <input matInput [formControl]="eventName" placeholder="Názov podujatia" />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [disabled]="eventName.value.length === 0" (click)="onClickAddEvent()">
      Pridať
    </button>
  </mat-card-actions>
</mat-card>
