@import '~@angular/material/theming';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: map-get($mat-grey, 100);
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  margin-left: 16px;
  margin-right: 16px;
}

.vertical-center {
  vertical-align: middle;
}

.align-right {
  text-align: right;
}

.stretch-width {
  width: 100%;
}

.flex {
  display: flex;
}

.spaced-row+.spaced-row {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

mat-icon.mat-icon-small {
  width: 18px;
  height: 18px;
  font-size: 18px;
}
